## Coursera  Capstyone Notebook
#### This notebook is for code and processes pertaining to the Applied Data Science Capstone

In [4]:
import pandas as pd
import numpy as np
import re 
import itertools
from bs4 import BeautifulSoup
from lxml import html
import requests

In [ ]:
# <a href="/neighborhood/Barton-Heights-Richmond-VA.html">Barton Heights neighborhood detailed profile</a>
# <a href="/neighborhood/Barton-Heights-Richmond-VA.html">Barton Heights neighborhood detailed profile</a>




# page = requests.get('http://www.city-data.com/nbmaps/neigh-Richmond-Virginia.html').text
# soupobj=BeautifulSoup(page,'lxml')

# neighborhoods=[]
# pop_dens=[]
# med_income=[]
# links=[]
# zipcodes=[]
# neighborhood_divs=soupobj.findAll("div",{"class": "neighborhood"})

# for div in neighborhood_divs:
#     span=div.find("span", {"class": "street-name"})
#     neighborhoods.append(span.text)
#     pop_dens.append(div.findAll(text=True)[13])
#     med_income.append(div.findAll(text=True)[20])    
#     link=div.findAll('a', href=re.compile('^/neighborhood/'))
#     #print(link) find_all('a')[2]["href"]
#     links.append(div.find_all('a')[1]["href"])
    
# for link in links:
#     fulllink='http://www.city-data.com/'+link
#     det_page=BeautifulSoup(requests.get(fulllink).text,'lxml')
#     header=det_page.select('h1.city')[0].text.strip()
#     zipcodes.append(re.findall(r'\d{5}', header))

In [5]:
def citypage_scraper(url):

	page = requests.get(url).text
	soupobj=BeautifulSoup(page,'lxml')
	
	neighborhoods=[]
	pop_dens=[]
	med_income=[]
	links=[]
	zipcodes=[]
	neighborhood_divs=soupobj.findAll("div",{"class": "neighborhood"})

	for div in neighborhood_divs:
		span=div.find("span", {"class": "street-name"})
		neighborhoods.append(span.text)
		pop_dens.append(div.findAll(text=True)[13])
		med_income.append(div.findAll(text=True)[20])    
		link=div.findAll('a', href=re.compile('^/neighborhood/'))
		#print(link) find_all('a')[2]["href"]
		links.append(div.find_all('a')[1]["href"])
		
	for link in links:
		fulllink='http://www.city-data.com/'+link
		det_page=BeautifulSoup(requests.get(fulllink).text,'lxml')
		header=det_page.select('h1.city')[0].text.strip()
		zipcodes.append(re.findall(r'\d{5}', header))
		
	return zipcodes,neighborhoods,pop_dens,med_income

In [6]:
url1='http://www.city-data.com/nbmaps/neigh-Richmond-Virginia.html'
url2='http://www.city-data.com/nbmaps/neigh-Denver-Colorado.html'
zipcodes1,neighborhoods1,pop_dens1,med_income1=citypage_scraper(url1)
zipcodes2,neighborhoods2,pop_dens2,med_income2=citypage_scraper(url2)

In [7]:
mytuples=list(zip(zipcodes, neighborhoods,pop_dens,med_income))
df=pd.DataFrame(mytuples,columns=['ZipCodes','Neighborhood','PopulationDensity','MedianIncome'])


def melt_series(s):
    lengths = s.str.len().values
    flat = [i for i in itertools.chain.from_iterable(s.values.tolist())]
    idx = np.repeat(s.index.values, lengths)
    return pd.Series(flat, idx, name=s.name)


df2=melt_series(df.ZipCodes).to_frame().join(df.drop('ZipCodes', 1)).reindex_axis(df.columns, 1)
df2

/opt/conda/envs/DSX-Python35/lib/python3.5/site-packages/ipykernel/__main__.py:13: FutureWarning: '.reindex_axis' is deprecated and will be removed in a future version. Use '.reindex' instead.

   ZipCodes                     Neighborhood PopulationDensity MedianIncome
0     23222                   Barton Heights            3,869       $35,508
1     23222        Barton Heights Cemeteries            4,174       $27,500
2     23222                     Battery Park            4,856       $44,386
3     23220                       Belle Isle            1,830       $34,103
4     23227                         Bellevue            3,166       $45,852
5     23224                        Blackwell            3,744       $39,309
6     23220                        Boulevard            8,866       $52,260
6     23221                        Boulevard            8,866       $52,260
7     23224                       Broad Rock            2,222       $37,189
7     23234                       Broad Rock            2,222       $37,189
8     23219          Broad Street Commercial            9,818       $28,513
8     23220          Broad Street Commercial            9,818       $28,513
9     23222                   Brookland Park            6,305       $39,732
10    23219                   Capital Square            1,905       $37,123
11    23220                           Carver            9,611       $41,219
12    23222                    Chestnut Hill            4,614       $31,218
13    23223                  Chimborazo Park           12,610       $71,404
14    23223              Church Hill Central            7,038       $37,319
15    23223                Church Hill North            8,227       $45,370
16    23220                Commonwealth Club           16,812       $24,265
17    23219                        Court End            1,866       $28,006
17    23298                        Court End            1,866       $28,006
18    23219                         Downtown            4,174       $28,186
18    23220                         Downtown            4,174       $28,186
19    23231                             East            5,024       $34,568
19    23219                             East            5,024       $34,568
19    23223                             East            5,024       $34,568
20    23219             East Franklin Street            1,842       $37,123
20    23220             East Franklin Street            1,842       $37,123
21    23220                              Fan           14,376       $46,572
..      ...                              ...               ...          ...
32    23224                       Manchester              254       $20,316
33    23224                       Midlothian            3,497       $50,951
33    23225                       Midlothian            3,497       $50,951
34    23220                      Monroe Park           19,210       $15,898
35    23219                      Monroe Ward            5,943       $28,678
35    23220                      Monroe Ward            5,943       $28,678
36    23220                  Monument Avenue           14,105       $53,082
36    23221                  Monument Avenue           14,105       $53,082
37    23221                  Museum District            8,625       $54,044
38    23220                        Near West            5,488       $57,469
38    23221                        Near West            5,488       $57,469
38    23230                        Near West            5,488       $57,469
39    23220                            North            4,379       $34,435
39    23222                            North            4,379       $34,435
39    23227                            North            4,379       $34,435
40    23224                        Old South            3,292       $50,170
40    23225                        Old South            3,292       $50,170
41    23220                      Oregon Hill           12,178       $26,833
42    23223                   Shockoe Bottom            7,134       $43,389
43    23219                     Shockoe Slip            1,930       $37,123
44    23225                       Springhill            1,686       $50,357
45    23223                St. John's Church            7,717       $50,698
46    23219                      Tobacco Row            7,065       $38,766
46    23223                      Tobacco Row            7,065       $38,766
47    23220  Two Hundred Block West Franklin           16,837       $24,265
48    23223                       Union Hill            7,469       $40,209
49    23220                West Broad Street           13,290       $35,158
50    23220             West Franklin Street           15,876       $24,551
51    23220                West Grace Street           14,033       $43,720
52    23225                 Woodland Heights            4,317       $54,316

[75 rows x 4 columns]